<body>
{% if user.is_authenticated %}
Connecté en tant que {{user.username}}
<form action="{% url 'logoutuser' %}" method ="POST">
     {% csrf_token %}

    <button type="submit">Se deconnecté</button>
</form>
<a href="{% url 'home' %}">Home</a>
<a href="{% url 'actuelestiamflix' %}">Nos films</a>
<a href="{% url 'signupuser' %}">S'inscrire</a>
<a href="{% url 'loginuser' %}">Se connecter</a>
{% else %}
<a href="{% url 'home' %}">Home</a>
<a href="{% url 'actuelestiamflix' %}">Nos films</a>
<a href="{% url 'signupuser' %}">S'inscrire</a>


<a href="{% url 'loginuser' %}">Se connecter</a>
{% endif %}
<br>
<br>

{% block content %}{% endblock %}
</body>